body {
  font-family: 'Girassol', cursive;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url('./images/stainedBackground.jpg');
  background-repeat: repeat-y;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 0;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  margin-bottom: 20px
}

.innerCont {
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  width: 50%;
}

#title {
  font-size: 30px;
  margin-bottom: 15px;
}

.instructions {
  font-size: 20px;
  margin-top: 50px;
}

.instructions .inner {
  width: 70%;
}