/* START GENERAL STYLING */
body {
  font-family: 'Girassol', cursive;
  padding: 0;
  margin: 0;
  text-align: center;
}

#app {
  background-color: black;
}
/* END GENERAL STYLING */

/* START TITLE STYLING */
.title {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.title h1 {
  margin-top: 3vh;
  margin-bottom: 3vh;
  letter-spacing: 0.1em;
  color: black;
  cursor: pointer;
}

.title a {
  color: black;
  text-decoration: none;
}

.title a:visited {
  text-decoration: none;
  color: inherit;
}
/* END TITLE STYLING */

/* START ALERT POP-UP STYLING */
.alert {
  background-color: black;
}

.swal-text, .swal-title {
  color: white;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.65);
}

.swal-button {
  font-family: 'Girassol', cursive;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  padding: 8px 5px;
}

.alert button.swal-button.swal-button--confirm:hover {
  background-color: white;
  color: #000000;
  transition-duration: 0.4s;
}

/* END ALERT POP-UP STYLING */

/* START SEARCH RESULTS STYLING */
.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-results img {
  width: 125px;
  height: 125px;
}

.search-results a {
  color: black;
  text-align: left;
}

.search-results ul {
  list-style: none;
  padding-left: 20vw;
}

.search-results li {
  margin-bottom: 5vh;
}

#results-title {
  margin-top: 5vh;
  margin-bottom: 10vh;
  font-size: 35px;
}

.result {
  display: flex;
  flex-direction: row;
}

.inner-result {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.inner-result p {
  margin-top: 0;
}
/* END SEARCH RESULTS STYLING */

/* START COCKTAIL PAGE STYLING */
.container {
  margin: 0 10vw 0 10vw;
  padding-bottom: 5vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-image: url('./images/stainedBackground-1.jpg');
  background-position-x: center;
  background-repeat: repeat-y;
  background-size: contain;
  background-attachment: fixed;
  min-height: 100vh;
}

.outerContainer {
  display: flex;
  flex-direction: row;
  margin: 10vh;
}

.image {
  width: 50%;
}

.image img {
  width: 70%;
  margin-bottom: 20px
}

.innerCont {
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  width: 50%;
}

#title {
  font-size: 30px;
}

#ingredients {
  font-family: 'Lato', sans-serif;
  /* font-weight: bold; */
}

#instructions {
  font-family: 'Lato', sans-serif;
}

#cocktailName {
  margin-top: 5vh;
  font-size: 25px;
}

.instructions {
  font-size: 17px;
  margin-top: 50px;
}

.instructions .inner {
  width: 70%;
  margin-top: 16px;
}
/* END COCKTAIL PAGE STYLING */

/* START SEARCH BAR STYLING */
.searchContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0;
}

.searchContainer input {
  width: 10em;
  padding: 5px 10px;
  font-size: 25px;
  margin: 15px;
  background-color: #000000;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  text-align: center;
  font-family: 'Girassol', cursive;
  transition: width 0.4s ease-in-out;
}

.searchContainer input:focus {
  width: 15em;
}

.searchContainer button,
.cocktail button {
  font-family: 'Girassol', cursive;
  background-color: #000000;
  color: #c8ac7b;
  border: none;
  border-radius: 2px;
  padding: 8px 5px;
}

.cocktail button {
  margin: 0 2vw;
}

.searchContainer button:hover,
.cocktail button:hover {
  background-color: #c8ac7b;
  color: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  transition-duration: 0.4s;
}

.search button {
  width: 4em;
  font-size: 20px;
}

.random button,
.cocktail button {
  width: 15em;
  height: auto;
  font-size: 18px;
}
/* END SEARCH BAR STYLING */